body{
    margin:0;
    pading:20px;
    background-color: rgb(169, 221, 123);
}
header{
    background-color: rgb(80, 58, 45);
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
}
h1{
    margen:0;
}
h2{
    text-align: center;
    margin-top: 30px;
}
p {
    text-align: justify;
    margin: 20px auto;
    max-width: 1000px;
    /* margem lateral */
}

.energia,
.horta {
    display: block;
    margin: 20px auto;
    max-width: 40%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}
#referencias {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

#referencias h3,
#referencias p {
    padding-left: 0; /* remove qualquer recuo lateral */
}

footer {
    width: 100%;
    background-color: #373a37;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}

footer p {
    margin: 0;             /* remove margem automática que pode estar deslocando */
    display: inline-block; /* garante que o texto se comporte como um bloco centralizável */
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .energia,
    .horta {
        max-width: 90%;
    }

    p {
        font-size: 14px;
        padding: 0 10px;
    }

    footer {
        font-size: 10px;
    }
}

/* Tablets (601px até 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

    .energia,
    .horta {
        max-width: 60%;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 2rem;
    }
}